<!DOCTYPE html>
<html ng-app="foxhome" class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
	<title>RippleFox</title>
	<meta name="description" content="RippleFox，始于2014年的去中心化交易所">
	<meta name="keywords" content="RippleFox，瑞狐社区，去中心化，瑞波，恒星，交易所，网关，锚点。">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://cdn.bootcdn.net/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/jquery.bxslider.css">
	<link rel="stylesheet" href="./css/icon-moon.css">
	<link rel="stylesheet" href="./css/slick.css">
	<link rel="stylesheet" href="./css/owl.carousel.css">
	<link rel="stylesheet" href="./css/spacing.min.css">
	<link rel="stylesheet" href="./css/font.css">
	<link rel="stylesheet" href="./css/ripplefox.css?v=200429">
	<link rel="stylesheet" href="./css/style.css?v=180727_ab">
</head>

<body class="onepage" cz-shortcut-listen="true">
<div id="nav-main-sticky-wrapper" class="sticky-wrapper" style="height: 70px;">
	<div id="nav-main" class="sticky-menu" style="">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="logo-container">
						<div class="tb">
							<div class="tb-cell">
								<a href="" id="logo">
									<img alt="" title="logo" src="./images/logo_ripplefox.png" class="img-responsive" style="position: absolute; visibility: hidden;" width="100">
								</a>
								<a href="" id="logo-white">
									<img alt="" title="logo" src="./images/logo_ripplefox.png" class="img-responsive" style="position: static; visibility: visible;" width="100">
								</a>
							</div>
						</div>
					</div>
					<nav class="menu_container">
						<ul id="desktop-menu" class="visible-md visible-lg" ng-controller="LangCtrl">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2130 active">
								<a href="#about">RippleFox</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2131">
								<a href="/exchange" translate="exchange">交易所</a>
							</li>
							
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2137" ng-show="lang=='cn'">
									<a href="" class="ng-scope" translate="jc">教程</a>
									<ul class="sub-menu">
										<li style="line-height: 30px; font-size: 14px;"><a href="https://jc.ripplefox.com" target="_blank">瑞波教程</a></li>
										<li style="line-height: 30px; font-size: 14px;"><a href="https://hx.ripplefox.com" target="_blank">恒星教程</a></li>
									</ul>
							</li>
								
							<li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2138">
								<a href="javascript:" ng-click="changeLanguage('en')"><img src="images/english.svg" width="32px" title="English" alt="English"></a>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2139">
								<a href="javascript:" ng-click="changeLanguage('cn')" ><img src="images/chinese.svg" width="28px" title="中文" alt="中文"></a>
							</li>
						</ul>
					</nav>
					<div id="mobile-menu-button" class="hidden-md hidden-lg">
						<i class="fa fa-bars"></i>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!-- MOBILE MENU -->
		<nav class="container hidden-lg hidden-md">
			<div id="mobile-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul ng-controller="LangCtrl">
								<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2130 active">
									<a href="#about">RippleFox</a>
								</li>
								<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2131">
									<a href="/exchange" translate="exchange">交易所</a>
								</li>
								
								<li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2136" ng-show="lang=='cn'">
									<a href="https://jc.ripplefox.com" target="_blank">瑞波教程</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2137" ng-show="lang=='cn'">
									<a href="https://hx.ripplefox.com" target="_blank">恒星教程</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2138">
									<a href="javascript:" ng-click="changeLanguage('en')"><img src="images/english.svg" width="32px" title="English" alt="English"></a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2139">
									<a href="javascript:" ng-click="changeLanguage('cn')" ><img src="images/chinese.svg" width="28px" title="中文" alt="中文"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>

<!-- particles.js container -->
<div id="particles-js">
	<section id="heroSection">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 mtm10">
					<div class="logo-wrapper">
						<img alt="" title="logo" src="./images/logo_ripplefox.png" class="img-responsive" width="400">
						<div class="underlines"></div>
					</div>
					<div class="c-white titlebold" translate="b101">立足社区 普及知识 拥抱未来</div>
					<div class="c-white title" translate="b102">始于2014年</div>
				</div>
			</div>
		</div>
	</section>
	<!--<div class="home_button_wrapper">
		<a href="comingsoon.html" target="_self">
			<button type="button" translate="sell" class=" home_button">預  售</button>
		</a>
	</div>-->
</div>
<!-- 關於我們 -->
<section id="about" class="section-main gap-bottom slide-menu text-edit bg_color">
	<div class="row">
		<div class="col-md-12">
			<div class="slogan">
				<h1>RippleFox</h1>
			</div>
		</div>
		<div class="col-md-12 text-center ht10">
			<div class="master-separator"></div>
		</div>
		<div class="col-md-offset-2 col-md-8 fadeInRight my-animation lh2">
			<span class="lightblue">RippleFox</span>
			<span translate="b103">安全、可靠、去中心化的网关，也是全世界最知名的去中心化交易所之一。在区块链上，你可以用瑞波币、恒星币、比特币等购买其他数字资产，甚至是无形的权益……一切都可以实现，未来触手可及。RippleFox交易全免费, 交易者之间点对点成交，去中心化的交易平台无中间环节；你永远独立地掌控钱包的完全的控制权，没有任何其他人可以更改。命运在你手中，请开启钱包，愉悦的交易吧。</span>
		</div>
	</div>
</section>
<!-- 關於我們 -->
<!-- 技术版块 -->
<section id="tech" class="section-main gap-bottom slide-menu text-edit process-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="slogan">
					<h1><span translate="b201" class="ng-scope">区块链</span> <span class="light ng-scope" translate="b202">技术</span></h1>
				</div>
			</div>
			<div class="col-md-12 text-center ht10">
				<div class="master-separator"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-lg-4 fadeInLeft my-animation animated">
				<div class="icon">
					<div class="icon-holder">
						<img src="images/tech/stellar.png" alt="stellar" width="100">
					</div>
				</div>
				<span class="txt fs18 ng-scope" translate="b203">恒星</span>
				<div class="fs12 sttx-desc ng-scope" translate="b204">恒星是一个用于存储和转移价值的开放网络。其设计目标是使全球所有金融系统都可以在单个网络上协同工作。瑞狐是恒星上的著名锚点。</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-lg-4 fadeInLeft my-animation animated">
				<div class="icon">
					<div class="icon-holder">
						<img src="images/tech/ripple.png" alt="ripple" width="100">
					</div>
				</div>
				<span class="txt fs18 ng-scope" translate="b205">瑞波</span>
				<div class="fs12 sttx-desc ng-scope" translate="b206">瑞波是美国Ripple公司创建的实时总结算系统，货币兑换和汇款网络。于2012年发布。瑞狐是瑞波上的知名网关。</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-lg-4 fadeInLeft my-animation animated">
				<div class="icon">
					<div class="icon-holder">
						<img src="images/tech/ultiledger.png" alt="ultiledger" width="80" style="margin-top: 42px;">
					</div>
				</div>
				<span class="txt fs18 ng-scope" translate="b207">Ultiledger</span>
				<div class="fs12 sttx-desc ng-scope" translate="b208">极限账本是下一代全球自金融区块链协议。基于Ultiledger的应用已经上线多家上市公司。瑞狐是Ultiledger的战略合作伙伴。</div>
			</div>
		</div>
	</div>
</section>
<!-- 技术版块 -->

<!-- 合作伙伴 -->
<section id="partner" class="section-main gap-bottom slide-menu text-edit bg-partners">
	<div class="row">
		<div class="col-md-12">
			<div class="slogan">
				<h1 translate="b301">合作伙伴</h1>
			</div>
		</div>
		<div class="col-md-12 text-center ht10">
			<div class="master-separator"></div>
		</div>
		<div class="col-xs-4 col-md-4 col-sm-6 a-center pd">
			<div class="partner-logo">
				<a href="https://ultiledger.io" target="_blank"><img src="images/partners/ultiledger.png" height="50px" alt="Ultiledger"></a>
			</div>
		</div>
		<div class="col-xs-4 col-md-4 col-sm-6 a-center pd">
			<div class="partner-logo">
				<a href="http://www.gylsz.cn/" target="_blank"><img src="images/partners/winwinchain.png" height="50px" alt="WinWin Chain"></a>
			</div>
		</div>
		<div class="col-xs-4 col-md-4 col-sm-6 a-center pd">
			<div class="partner-logo">
				<a href="http://www.lzdigits.com/" target="_blank"><img src="images/partners/lianzhen.png" height="50px" alt="Lianzhen Digits"></a>
			</div>
		</div>
		<div class="col-xs-4 col-md-4 col-sm-6 a-center pd">
			<div class="partner-logo">
				<a href="http://www.comecoding.com/" target="_blank"><img src="images/partners/delta.png" height="50px" alt="Delta Education"></a>
			</div>
		</div>
		<div class="col-xs-4 col-md-4 col-sm-6 a-center pd">
			<div class="partner-logo">
				<a href="https://coinpedia.org/exchange/ripplefox/" target="_blank"><img src="images/partners/coinpedia.png" height="50px" alt="Coinpedia"></a>
			</div>
		</div>
		<div class="col-xs-4 col-md-4 col-sm-6 a-center pd">
			<div class="partner-logo">
				<a href="https://rrdz.vip/" target="_blank"><img src="images/partners/rrdz.png" height="50px" alt="人人定制"></a>
			</div>
		</div>
	</div>
</section>
<!-- 合作伙伴 -->			
<!-- 联系我们 -->	
<section id="contact" class="section-main slide-menu text-edit bg-img bg-dark-alfa-70 bg_1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="slogan">
					<h1 class="white-text"><span translate="b901" class="ng-scope">Contact</span> <span class="light ng-scope" translate="b902">Us</span></h1>
				</div>
			</div>
			<div class="col-md-12 text-center ht10">
				<div class="master-separator">

				</div>
			</div>
			<div class="contact_bar">
				<div class="fadeInRight my-animation animated contact_item">
					<a href="" onclick="displayImg('./images/contact/qrcode_wechat.jpg')"><img class="contact_img" src="images/contact/wechat.svg" alt=""></a>
				</div>
				<div class="fadeInRight my-animation animated contact_item">
					<a href="" onclick="displayImg('./images/contact/qrcode_qq.jpeg')"><img class="contact_img" src="images/contact/qq.svg" alt=""></a>
				</div>
				<div class="fadeInRight my-animation animated contact_item">
					<a href="https://t.me/ripplefoxgroup" target="_blank"><img class="contact_img" src="images/contact/telegram.svg" alt=""></a>
				</div>
				<div class="fadeInRight my-animation animated contact_item">
					<a href="https://twitter.com/Ultiledgerio" target="_blank"><img class="contact_img" src="images/contact/twitter.svg" alt=""></a>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- 联系我们 -->	

<div class="hide_box" onclick="vanishImg()"></div>
<div style="margin: auto;">
	<div class="popbox" id="pop_box" style="text-align:center">
		<img id="pop_box_img" src="" style="width:50%"/>
	</div>
</div>

<!-- 頁腳 -->
<footer id="foot-page" class="bg-footer">
	<div class="container">
		<div class="row consensus-footer">
			<div class="col-sm-4 consensus-footer-left">
				<div class="widget">
					<div class="f-title">
						<img src="images/logo_ripplefox_white.png" alt="ripplefox" style="height:40px;margin-left: -5px;">
					</div>
					<div class="f-sub-title" translate="f101">基于区块链的去中心化全球交易所</div>
					<div class="f-extra">
						<a href="mailto:support@ripplefox.com" style="margin-left: 0"><i class="fa fa-envelope-o"></i> support@ripplefox.com</a>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="widget">
					<h5 class="widget-title footer-title" translate="f201">产品</h5>
					<ul class="white-ul">
						<li ng-show="lang=='cn'"><a href="https://jc.ripplefox.com" target="_blank" translate="f202">瑞波钱包</a></li>
						<li ng-hide="lang=='cn'"><a href="https://github.com/ripplefox/ripplewallet/releases" target="_blank" name="FoxletRipple" translate="f202">瑞波钱包</a></li>
						<li ng-show="lang=='cn'"><a href="https://hx.ripplefox.com" target="_blank" translate="f203">恒星钱包</a></li>
						<li ng-hide="lang=='cn'"><a href="https://wallet.stellar.chat" target="_blank" translate="f203">恒星钱包</a></li>
						<li><a href="https://utoken.cash/" target="_blank" translate="f204">手机钱包</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="widget">
					<h5 class="widget-title footer-title" translate="f301">友情链接</h5>
					<ul class="white-ul">
						<li><a href="https://ultbbs.com/" target="_blank" translate="f302">ULT论坛</a></li>
						<li><a href="https://ultiledger.io/" target="_blank" translate="f303">Ultiledger官网</a></li>
						<li><a href="http://ripple.com/" target="_blank" translate="f304">瑞波官网</a></li>
						<li><a href="http://stellar.org/" target="_blank" translate="f305">恒星官网</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="widget">
					<h5 class="widget-title footer-title" translate="f401">社区QQ群</h5>
					<ul class="white-ul">
						<li><a name="XRP" translate="f402">瑞波群: 703611153</a></li>
						<li><a name="XLM" translate="f403">恒星群: 676552869</a></li>
						<li><a name="ULT" translate="f404">ULT群: 829852556</a></li>
						<li><a name="IPFS" translate="f405">IPFS群: 196561940</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="widget">
					<h5 class="widget-title footer-title" translate="f501">市场</h5>
					<ul class="white-ul">
						<li><a href="./market" target="_blank" translate="f502">数据统计</a>
					</ul>
				</div>
			</div>
		</div>

		<hr class="foot-hr">
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-12 column" style="text-align:center">
				<span style="display: block;width: 100%;font-size: 16px; color:white;">Copyright © 2020. RippleFox All rights reserved. </span>
			</div>
		</div>
	</div>
</footer>
<!-- 頁腳 -->
<script src="https://cdn.bootcdn.net/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/angular-translate/2.18.2/angular-translate.min.js"></script>
<script src="./js/lib/jquery.fitvids.js"></script>
<script src="./js/lib/jquery.timer.js"></script>
<script src="./js/lib/jquery.sticky.js"></script>
<script src="./js/lib/jquery.currentMenuItem.js"></script>
<script src="./js/lang/translate_cn.js"></script>
<script src="./js/lang/translate_en.js"></script>
<script src="./js/app.js"></script>
<script src="./js/timeago.js"></script>
<script src="./js/plugins.js"></script>
<script src="./js/active.js"></script>
<script src="./js/ultiledger.js"></script>
<script src="./js/config.js"></script>
<script src="./js/displayimage.js"></script>
<script>
</script>
</body>
</html>
